# Jupyter Notebook specific files
extraction.ipynb
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# MLflow artifacts and logs
mlruns/
*/mlruns/

# Local data files
OutputImages/
blurred_images/
Dataset/

# Model files and training outputs
*.pth
*.h5
*.pkl
*.joblib
*.model

# IDE specific files
.idea/
.vscode/

# Logs and databases
*.log
*.sql
*.sqlite

# OS specific files
.DS_Store
Thumbs.db

# Poetry
poetry.lock

# Temporary files
path_to_save_adjusted_image.jpg